<div class="yotpo-widget-instance" data-yotpo-instance-id="494162" data-yotpo-product-id="{{product.id}}" data-yotpo-name="{{ product.title | escape }}" data-yotpo-url="{{ shop.url }}{{ product.url }}" data-yotpo-image-url="{{ product.featured_image | product_img_url: "large" | prepend: "https:" | replace: '?', '%3F' | replace: '&','%26'}}" data-yotpo-price="{{ product.price | money_without_currency }}" data-yotpo-currency="{{ shop.currency }}" data-yotpo-description="{{ product.description | escape }}"></div>

{% schema %}
    {
        "name": "Yotpo Review",
        "settings": [],
        "presets": [
            {
                "name": "Yotpo Review",
                "category": "Content"
            }
        ]
    }
{% endschema %}